.dianne-section {
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $color-black;
        font-family: $font-gilroy-semibold;
        font-size: 120px;
        text-transform: uppercase;
        margin-bottom: 30px;

        @media screen and (min-width: $tablet) and (max-width: $desktop) {
            text-align: center;
        }

        @media screen and (max-width: $tablet) {
            text-align: center;
            font-size: 57px;
        }

        h1 {
            font-size: 120px;
            margin: 0;

            @media screen and (min-width: $tablet) and (max-width: $desktop) {
                font-size: 70px;
            }

            @media screen and (max-width: $tablet) {
                font-size: 57px;
            }
        }

        &::after {
            content: "";
            background-image: url(../../images/svg/Group\ 1.svg);
            background-position: center;
            background-repeat: no-repeat;
            height: 100px;
            width: 100px;
            margin-top: 30px;
        }
    }
    &__subtitle {
        font-family: $font-gilroy-medium;
        text-transform: capitalize;

        @media screen and (min-width: $tablet) and (max-width: $desktop) {
            font-size: 70px;
        }

        @media screen and (max-width: $tablet) {
            font-size: 57px;
        }
    }

    &__img {
        width: 100%;
    }

    &__description {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        padding-top: 50px;

        @media screen and (min-width: $tablet) and (max-width: $desktop) {
            flex-direction: column;
        }

        @media screen and (max-width: $tablet) {
            flex-direction: column;
        }

        &--text {
            box-sizing: border-box;
            width: 65%;
            color: #252525;
            font-family: $font-gilroy-medium;
            font-size: 41px;
            padding: 0 50px;

            @media screen and (min-width: $tablet) and (max-width: $desktop) {
                padding: 30px;
                font-size: 52px;
                width: 100%;
                text-align: center;
            }

            @media screen and (max-width: $tablet) {
                padding: 30px 20px;
                font-size: 30px;
                width: 100%;
                text-align: center;
            }

            span {
                font-family: $font-gilroy-semibold;
            }
        }
    }

    &__links {
        box-sizing: border-box;
        width: 30%;
        background-color: $color-black;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        padding-right: 50px;

        @media screen and (min-width: $tablet) and (max-width: $desktop) {
            width: 100%;
            padding: 40px 30px;
        }

        @media screen and (max-width: $tablet) {
            width: 100%;
            padding: 40px 30px;
        }

        &--title {
            color: #fff;
            font-family: $font-gilroy-medium;
            font-size: 32px;
            line-height: 32px;
            text-transform: uppercase;

            @media screen and (max-width: $tablet) {
                font-size: 25px;
            }
        }
    }    
}

.media-links {
    @include media-links;
    @media screen and (max-width: $tablet) {
        gap: 10px;
    }

    .facebook-white {
        @include facebook-white;
        @media screen and (max-width: $tablet) {
            width: 38px;
            height: 38px;
            border-radius: 30px;
        }
    }

    .twitter-white {
        @include twitter-white;
        @media screen and (max-width: $tablet) {
            width: 38px;
            height: 38px;
            border-radius: 30px;
        }
    }

    .linkedin-white {
        @include linkedin-white;
        @media screen and (max-width: $tablet) {
            width: 38px;
            height: 38px;
            border-radius: 30px;
        }
    }

    .dribble-white {
        @include dribble-white;
        @media screen and (max-width: $tablet) {
            width: 38px;
            height: 38px;
            border-radius: 30px;
        }
    }
}