.header {
    padding: 40px 70px;

    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        padding: 40px 30px;
    }

    @media screen and (max-width: $tablet) {
        padding: 20px;
    }

    &__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        &--title {
            display: flex;
            gap: 10px;
            color: #000;
            font-family: $font-gilroy-semibold;
            font-size: 35px;
            font-weight: 800;
            letter-spacing: -0.7px;

            &--uppercase {
                text-transform: uppercase;
                font-family: $font-gilroy-medium;
            }
        }
    }

    &__symbol {
        font-size: 20px;
        vertical-align: super;
    }

    &__menu {
        color: $color-black;
        font-family: $font-gilroy-semibold;
        font-size: 25px;
        font-weight: 400;
        text-transform: uppercase;
    }
}

.disabled {
    @media screen and (max-width: $tablet) {
        display: none;
    }
  }

  