
.my-clients {

  .my-clients__table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
    overflow: hidden;
    margin-bottom: 50px;
    @media (max-width: 1200px) {
      display: flex;
      flex-direction: column;
    }
  }
  .my-clients__table-box {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .my-clients__table-title {
    color: #333;
    font-family: $font-gilroy-semibold;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.5;
  }
  .my-clients__table-text {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }
  .my-clients__title {
    color: #252525;
    font-family: $font-gilroy-medium;
    font-size: 120px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 8.48px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    @media (max-width: 1200px) {
      font-size: 100px;
      margin-left: 20px;
      margin-right: 20px;
      @media (max-width: 768px) {
        font-size: 80px;
        align-items: center;
        justify-self: center;
        margin-left: 20px;
        margin-right: 20px;
      }
      @media (max-width: 320px) {
        font-size: 57px;
        align-items: center;
        justify-self: center;
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
  .my-clients__table-image {
    width: 70px;
    height: 70px;
    border-radius: 50px;
  }
  .my-clients__table-image-wrapper {
    margin-bottom: 1px;
    margin-top: 30px;
    display: flex;
    align-items: center;
  }
  .my-clients__table-text-wrapper {
    margin-left: 20px;
  }
  .my-clients__table-contact-name {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
  }
  .my-clients__table-contact-position {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}
.my-clients__table-person {
  margin-bottom: 5px;
}
.my-clients__table-element {
  display: flex;
  justify-content: space-evenly;
  border-right: 1px solid #252525;
  border-bottom: 1px solid #252525;

  @media (max-width: 1200px) {
    border-right: none;
    border-bottom: 1px solid #252525;
  }
  @media (max-width: 768px) {
    border-right: none;
    border-bottom: 1px solid #252525;
  }

  &:nth-child(3n) {
    border-right: none;


  }
  &:nth-last-child(-n+3) {
    border-bottom: none;
    @media (max-width: 1200px) {
      border-bottom: 1px solid #252525;
    }
    @media (max-width: 768px) {
      border-bottom: 1px solid #252525;
    }



  }
  .my-clients__table-logo {
    align-self: flex-start;
  }
}