.what-i-do {
  margin: 0;
  padding: 0;

  .what-i-do__image {
    background-image: url("./images/what-i-do-bgd.jpg");
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (max-width: 1200px) {
      width: 100%;
      height: 991px;
      align-self: stretch;
    }
    @media (max-width: 768px) {
      height: 478px;
    }

  }

  .what-i-do__wrapper {
    border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;
    //width: 1960px;
    display: flex;
    @media (max-width: 1200px) {
      display: flex;
      flex-direction: column;
    }
  }



  .what-i-do__content {
    width: 50%;
    margin-left: 111px;
    margin-right: 70px;
    margin-top: 70px;
    margin-bottom: 70px;
    @media (max-width: 1200px) {
      justify-content: center;
      align-items: center;
      width: 90%;
      overflow: hidden;
      margin: 40px auto 40px auto;
    }
    @media (max-width: 768px) {
      padding: 20px;
    }
    @media (max-width: 320px) {
      padding: 10px;
    }
  }

  .what-i-do__title {
    color: $color-black;
    font-family: $font-gilroy-medium;
    font-size: 120px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 100px;
    margin-top: 0;
    @media (max-width: 1200px) {
      font-size: 90px;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    @media (max-width: 768px) {
      font-size: 80px;
    }
    @media (max-width: 320px) {
      font-size: 57px;
      align-items: center;
      justify-self: center;
    }
  }


  .what-i-do__list-title {
    color: #000;
    font-family: $font-gilroy-semibold;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    @media (max-width: 768px) {
      font-size: 35px;
    }
    @media (max-width: 320px) {
      font-size: 25px;
    }
  }

  .what-i-do__list p {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    align-self: stretch;
    @media (max-width: 768px) {
      font-size: 20px;
    }

  }

  .what-i-do__items--line::after {
    content: "";
    display: block;
    height: 2px;
    background: $color-black;
    margin-top: 40px;
    margin-bottom: 40px;
    box-sizing: border-box;
  }
}
.what-i-do__list {
  padding: 0;

  li {
    list-style: none;

    h3 {
      font-family: $font-gilroy-semibold;
      font-weight: 600;
      &::before {
        content:"0" counter(list-item);
        margin-right: 10px;
        font-family: $font-gilroy-medium;
        font-weight: 300;
      }
    }
  }
}