@mixin facebook-white {
  display: block;
  background-image: url(../../images/socials/facebook_white.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

@mixin facebook-black {
  display: block;
  background-image: url(../../images/socials/facebook_black.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

@mixin twitter-white {
  display: block;
  background-image: url(../../images/socials/twitter_white.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

@mixin twitter-black {
  display: block;
  background-image: url(../../images/socials/twitter_black.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

@mixin linkedin-white {
  display: block;
  background-image: url(../../images/socials/linkedin_white.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

@mixin linkedin-black {
  display: block;
  background-image: url(../../images/socials/linkedin_black.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

@mixin dribble-white {
  display: block;
  background-image: url(../../images/socials/dribble_white.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

@mixin dribble-black {
  display: block;
  background-image: url(../../images/socials/dribble_black.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

@mixin media-links {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}