$font-inter:"Inter", sans-serif;
$font-gilroy-medium: "Gilroy-Medium", sans-serif;
$font-gilroy-semibold: "Gilroy-SemiBold", sans-serif;
$color-black: #252525;
$desktop: 1200px;
$tablet: 768px;
$mobile: 320px;